.custom-button {
  background: rgb(45, 114, 18);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  transition: 0.3s all;
  cursor: pointer;

  &:hover {
    background: rgb(37, 77, 25);
    transition: 0.3s all;
  }
  &:active {
    background: #000;
    transition: 0.3s all;
  }
}
